* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body {
	font: 13px Helvetica, Arial;
	background-color: rgb(73,135,157);
	/*background-image: url("/images/background.png");*/
	background-position: 0px 0px;
	background-repeat: repeat-x;
	animation: animatedBackground 1s linear infinite;
}

@keyframes animatedBackground {
from {
	background-position: 0 0;
}
to {
	background-position: 100% 0;
}
}

form {
	background: #E0E0E0;
	padding: 3px;
	position: fixed;
	bottom: 0;
	width: 100%;
	padding: 4px 0px 0px 1px;
}
form input {
	border: 0;
	padding: 10px;
	width: 90%;
	margin-right: .5%;
}
form button {
	width: 9%;
	background: rgb(130, 224, 255);
	border: none;
	padding: 10px;
}
.messages {
	list-style-type: none;
	margin: 0;
	padding: 0;
}
.messages li {
	padding: 5px 10px;
}
.messages li:nth-child(odd) {
	background: #eee;
}
.sendButton {
	width: 56px;
}

.chatWindow {
	border: 3px solid #CCC;
	width: 400px;
	height: 421px;
	position: absolute;
	left: 50%;
	top: 50%;
	margin: -25px 0 0 -50px;
	border-radius: 5px;
	z-index : 1;
}
.pageHeader {
	/*
	 border: 2px solid #CCC;
	 border-radius: 1px;*/
	height: 24px;
	font-family: times new roman;
	font-size: 16px;
	padding-left: 3px;
	background: rgb(245,246,246); /* Old browsers */
	background: -moz-linear-gradient(top, rgba(245,246,246,1) 0%, rgba(219,220,226,1) 21%, rgba(184,186,198,1) 49%, rgba(221,223,227,1) 80%, rgba(245,246,246,1) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top, rgba(245,246,246,1) 0%,rgba(219,220,226,1) 21%,rgba(184,186,198,1) 49%,rgba(221,223,227,1) 80%,rgba(245,246,246,1) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, rgba(245,246,246,1) 0%,rgba(219,220,226,1) 21%,rgba(184,186,198,1) 49%,rgba(221,223,227,1) 80%,rgba(245,246,246,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f5f6f6', endColorstr='#f5f6f6',GradientType=0 ); /* IE6-9 */
}
.messagesContainer {
	background-color: white;
	width: 393px;
	height: 350px;
	overflow-y: scroll;
	border-radius: 1px;
}
#onlineUsers {
	border: 4px solid #CCC;
	margin: -5px 0 0 -50px;
	border-radius: 5px;
	float: right;
	height: 400px;
	width: 400px;
	overflow-y: scroll;
	background-color: white;
}
.modal-user-username {
	width: 100%;
}
.chat-form {
	width: 394px;
	height: 41px;
	position: absolute
}
.chat-form-text {
	width: 329px !important;
}
.chat-window-close {
	float: right;
	padding: 0px;
	height: inherit;
	width: 25px;
}

@keyframes shake {
  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }
  
  20%, 80% {
    transform: translate3d(2px, 0, 0);
  }

  30%, 50%, 70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%, 60% {
    transform: translate3d(4px, 0, 0);
  }
}

.shake {
    -webkit-animation: shake .7s 1;
    -moz-animation: shake .7s 1;
    -o-animation: shake .7s 1;
    animation: shake .7s 1;
}
.notifications-button{
	float: right;
	height: inherit;
	padding: 0px 20px;
}
